#ff-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
  background: url("logo.png");
}

#ff-content {
  font-family: Roboto;
  margin-top: 5em;
  margin-left: 1.33em;
  margin-right: 1.33em;
  color: black;
}

.ff-icon-links {
  text-decoration: none;
  color: black;
}

.ff-socialbuttons {
  background-color: #ffffff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  padding: 8px 15px;
  text-decoration: none;
}
.ff-socialbuttons:hover {
  background-color: #f0f0f0;
}
.ff-socialbuttons:active {
  position: relative;
  top: 1px;
}
